<template>
  <div>
    <div class="container header-container-spacing">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="header-container-divider">
            <div class="pull-right">
              <nav>
                <ul>
                  <li>
                    <router-link :to="{ name: 'users'}">
                      {{ menu.overview }}
                    </router-link>
                  </li>
                  <span>|</span>
                  <li>
                    <router-link :to="{ name: 'logout'}">
                      {{ menu.logout }}
                    </router-link>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <slot></slot>
  </div>
</div>
</template>

<script lang="ts">
  export default {
    name: 'AppLayout',

    data: () => ({
      menu: {
        overview: 'overview',
        logout: 'sign out',
      },
    }),
  };
</script>

<style scoped lang="scss">
  @import '../variables';

  .header-container-spacing {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .header-container-divider {
    border-bottom: 1px solid;
    padding-bottom: 5px;
  }

  ul {
    list-style-type: none;
    margin-bottom: 0;

    li {
      display: inline-block;
    }

    a {
      color: $primary-color;
      text-transform: uppercase;
      font-weight: 700;

      &:hover {
        color: $primary-color;
      }
    }
  }
</style>
