<template>
  <div class="container mt-15-p">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  export default {
    name: 'BaseLayout',
  };
</script>
