<template>
  <v-app-layout>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <h1>{{ title }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <input v-model="query" class="o-input" placeholder="Filter records on name" type="text">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="shadow-box">
            <v-user-list 
              :users="users" 
              :loadmore="loadmore" 
              :status="status" 
              @userlist:loadmore="onClickLoadMore"
            ></v-user-list>
          </div>
        </div>
      </div>
    </div>
  </v-app-layout>
</template>

<script lang="ts">
  import VAppLayout from '@/layouts/App';
  import VUserList from '@/components/UserList';
  import * as userConnector from '@/connectors/users';

  export default {
    name: 'IndexPage',

    data: () => ({
      title: 'Users',
    }),

    computed: {
      users: userConnector.getUsers,
      pages: userConnector.getPages,
      status: userConnector.getStatus,
      loadmore: userConnector.canLoadMore,
      query: userConnector.twoWayQuery(),
    },

    created() {
      if (this.status === 'IDLE') {
        userConnector.fetchInitialUsers();
      }
    },

    methods: {
      onClickLoadMore() {
        if (this.status !== 'PENDING' && this.status !== 'IDLE') {
          userConnector.fetchMoreUsers(this.pages);
        }
      },
    },

    components: {
      VAppLayout,
      VUserList,
    },
  };
</script>
