<template>
  <div>
    <div v-if="details">
      <div>
        <i class="fa fa-train from" aria-hidden="true"></i> 
        <span>{{ details.departure.station }}</span>
        <i class="fa fa-long-arrow-right to" aria-hidden="true"></i>
        <span>{{ details.arrival.station }}</span>
        <span class="pull-right">{{ duration }}</span>
        <div class="clearfix"></div>
      </div>
    </div>
    <div v-if="!details">
      Could not fetch this connection
    </div>
  </div>
</template>

<script lang="ts">
  import { secondsToHumanReadable } from '@/utils/date';

  export default {
    name: 'CommuteItemDetail',

    props: ['details'],

    computed: {
      duration() {
        return secondsToHumanReadable(this.details.duration);
      },
    },
  };
</script>

<style scoped lang="scss">
  .from, .to {
    display: inline-block;
  }

  .from {
    margin-right: 10px;
  }

  .to {
    margin-left: 5px;
    margin-right: 5px;
  }
</style>
