<template>
  <div>
    <div class="day-title">{{ connection.day }}</div>
    <v-commute-item-detail :details="connection.arrival"></v-commute-item-detail>
    <v-commute-item-detail :details="connection.departure"></v-commute-item-detail>
  </div>
</template>

<script lang="ts">
  import VCommuteItemDetail from '@/components/CommuteItemDetail.vue';

  export default {
    name: 'CommuteItem',

    props: ['connection'],

    components: {
      VCommuteItemDetail,
    },
  };
</script>

<style scoped lang="scss">
  .day-title {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
</style>
