<template>
  <div>
    <ul>
      <li v-for="user in users">
        <v-user :user="user"></v-user>
      </li>
    </ul>

    <div class="info-box" v-if="users.length === 0 && status !== 'PENDING'">
        No user records available
    </div>

    <div class="info-box" v-if="status === 'PENDING'">
        Fetching users records
    </div>

    <div class="info-box" v-if="status === 'FAILED'">
        Failed to fetch users records
    </div>

    <button id="btn-load-more" class="o-button" v-if="loadmore" @click="loadMoreItems">Load more</button>
  </div>
</template>

<script lang="ts">
  import VUser from '@/components/UserListItem.vue';

  export default {
    name: 'UserList',

    props: ['users', 'status', 'loadmore', 'count'],

    methods: {
      loadMoreItems() {
        this.$emit('userlist:loadmore');
      },
    },

    components: {
      VUser,
    },
  };
</script>

<style scoped lang="scss">
  @import '../variables';

  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
  }

  li {
    border-bottom: 1px solid $border-color;
  }

  li:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
</style>
