<template>
  <div class="mb-15">
    <div class="shadow-box">
      <slot name="info"></slot>
    </div>

    <div class="shadow-box mt-15">
      <slot name="commute"></slot>
    </div>
  </div>
</template>

<script lang="ts">
  export default {
    name: 'UserDetail',
  };
</script>
