<template>
  <div class="user-list-item">
    <router-link :to="{ name: 'details', params: { id: user.id }}">
      <div class="col-xs-4"><strong>{{ user.name }}</strong></div>
      <div class="col-xs-4">{{ user.email }}</div>
      <div class="col-xs-4 text-right">{{ user.role_name }}</div>
      <div class="clearfix"></div>
    </router-link>
  </div>
</template>

<script lang="ts">
  export default {
    name: 'UserListItem',

    props: ['user'],
  };
</script>

<style scoped lang="scss">
  @import '../variables';

  .user-list-item a {
    color: $text-color;
    display: block;
    padding: 15px;
    border-left: 2px solid transparent;
  }

  .user-list-item a:hover {
    background-color: $hover-color;
    border-left: 2px solid $primary-color;
  }
</style>
