<template>
  <div class="padding-box">
    <div class="info-box" v-if="status === 'IDLE'">
        No user information
    </div>

    <div class="info-box" v-if="status === 'PENDING'">
        Fetching user information
    </div>

    <div class="info-box" v-if="status === 'FAILED'">
        Failed to fetch user information
    </div>

    <div v-if="status === 'SUCCESS'">
      <h2>{{ user.name  }}</h2>
      <div v-if="user.address">
        <h3>{{ title }}</h3>
        <p>{{ user.address.line_1 }}</p>
        <p>{{ user.address.zipcode }} {{ user.address.city }}</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  export default {
    name: 'UserDetailInfo',

    props: ['user', 'status'],

    data: () => ({
      title: 'Address',
    }),
  };
</script>
