<template>
  <div class="padding-box">
    <h3>{{ title }}</h3>

    <div class="info-box" v-if="status === 'IDLE'">
        No user information
    </div>

    <div class="info-box" v-if="status === 'PENDING'">
        Fetching commute information
    </div>

    <div class="info-box" v-if="status === 'FAILED'">
        Failed to fetch commute information
    </div>

    <div v-if="status === 'SUCCESS'">
      <div class="total">Total hours in commute this week <span class="pull-right"> {{ total }}</span></div>
      <ul>
        <li v-for="connection in connections">
          <v-commute-item :connection="connection"></v-commute-item>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
  import VCommuteItem from '@/components/CommuteItem.vue';
  import { secondsToHumanReadable } from '@/utils/date';

  const getDuration = (connection) => {
    if (!connection) return 0;
    return Number(connection.duration) || 0;
  };

  export default {
    name: 'UserDetailCommute',

    props: ['connections', 'status'],

    data: () => ({
      title: 'Commute',
    }),

    computed: {
      total() {
        const totalTime = this.connections.reduce((total, connection) => {
          let newTotal = total;
          newTotal += getDuration(connection.departure);
          newTotal += getDuration(connection.arrival);
          return newTotal;
        }, 0);
        return secondsToHumanReadable(totalTime);
      },
    },

    components: {
      VCommuteItem,
    },
  };
</script>

<style scoped lang="scss">
  @import '../variables';

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;

    li {
      display: block;
      margin: 0;
      margin-bottom: 15px;
      border-left: 2px solid $primary-color;
      padding: 8px 15px;
      padding-right: 0;
    }
  }

  .total {
    font-weight: 700;
  }
</style>
