<template>
  <v-base-layout>
    <div class="text-center">
      <div><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>
      <div class="mt-15">Authenticating</div>      
    </div>
  </v-base-layout>
</template>

<script lang="ts">
  import VBaseLayout from '@/layouts/Base';
  import * as authConnector from '@/connectors/auth';

  export default {
    name: 'AuthenticatePage',

    async created() {
      const code = this.$route.query.code;

      try {
        await authConnector.auth(code);
        this.$router.push('/users');
      } catch (e) {
        this.$router.push('/login');
      }
    },

    components: {
      VBaseLayout,
    },
  };
</script>
