<template>
  <v-app-layout>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <h1>{{ title }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <v-user-detail>
            <v-user-detail-info 
              slot="info" 
              :user="user" 
              :status="userInfoStatus">
            </v-user-detail-info>
            <v-user-detail-commute 
              slot="commute" 
              :connections="connections" 
              :status="userCommuteStatus">
            </v-user-detail-commute>
          </v-user-detail>
        </div>
      </div>
    </div>
  </v-app-layout>
</template>

<script lang="ts">
  import VAppLayout from '@/layouts/App';
  import VUserDetail from '@/components/UserDetail';
  import VUserDetailInfo from '@/components/UserDetailInfo';
  import VUserDetailCommute from '@/components/UserDetailCommute';
  import * as userConnector from '@/connectors/user';
  import * as commuteConnector from '@/connectors/commute';

  export default {
    name: 'DetailPage',

    data: () => ({
      title: 'Commute sheet',
    }),

    computed: {
      user: userConnector.getUser,
      connections: commuteConnector.getCommutes,
      userInfoStatus: userConnector.getUserInfoStatus,
      userCommuteStatus: commuteConnector.userCommuteStatus,
    },

    created() {
      const id = this.$route.params.id;
      userConnector.fetchUser(id);
    },

    components: {
      VAppLayout,
      VUserDetail,
      VUserDetailInfo,
      VUserDetailCommute,
    },
  };
</script>