<template>
  <v-base-layout>
    <div class="shadow-box text-center">
      <div class="padding-box">
        <h1>{{ title }}</h1>
        <p>Login to your Officient account to get started</p>
      </div>
      <a class="o-button o-button-a" href="https://app.officient.io/authorize?client_id=504580">Login with Officient</a>
    </div>
  </v-base-layout>
</template>

<script lang="ts">
  import VBaseLayout from '@/layouts/Base';

  export default {
    name: 'LoginPage',

    data: () => ({
      title: 'Commute sheet',
    }),

    components: {
      VBaseLayout,
    },
  };
</script>
