@import './variables';

body {
  background-color: $background-color;
  color: $text-color;
}

h2 {
  font-variant: all-petite-caps;
  font-family: sans-serif;
  font-size: 28px;
  color: $text-color;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  position: relative;
}

h3 {
  text-transform: lowercase;
  font-variant: small-caps;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #6e7275;
  letter-spacing: 2px;
  margin-top: 0;
}

.shadow-box {
	box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background-color: #fff;
}

.padding-box {
	padding: 15px;
	margin-top: 15px;
}

.info-box {
	text-align: center;
	padding: 25px 0;
}

.o-button {
	width: 100%;
  padding: 15px;
  background-color: $primary-color;
  text-align: center;
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 0;
}

.o-button-a {
  display: block;
  
  &:hover {
    color: #fff;
  }
}

.o-input {
  width: 100%;
  margin: 15px 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 0;
  padding: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-15-p {
  margin-top: 15%;
}
